<mat-tab-group>

    <mat-tab label="Suche">
        <mat-card style="margin-left: 50px; margin-right: 50px; margin-top: 50px">
            <app-suche></app-suche>
        </mat-card>

        <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px">
            <app-suchresultate></app-suchresultate>
        </div>
    </mat-tab>


    <mat-tab label="Daten">
        <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px">
            <app-data-browser></app-data-browser>
        </div>
    </mat-tab>

    <mat-tab label="Test">
        <mat-card style="margin-left: 50px; margin-right: 50px; margin-top: 50px">
            <app-test></app-test>
        </mat-card>
    </mat-tab>

</mat-tab-group>



